@import './styles/variables.scss';

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devbudContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  // width: $FIGMA-UI-WIDTH;
  // height: $FIGMA-UI-HEIGHT;
  background-color: rgb(241, 195, 241);
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .devbudTitle {
    color: rgb(16, 125, 234);
    font-family: cursive;
    font-size: 40px;
  }

  .Title {
    color: rgb(16, 125, 234);
    font-family: cursive;
    font-size: 40px;
  }

  .loginFields {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: -20px;
  }

  .input {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(16, 125, 234);
    outline: none;
    color:rgb(16, 125, 234);
    font-family: cursive;
    font-size: 15px;
  }

.buttonContainer {
  display: flex;
}

.image {
  width: 65%;
  height: 65%;
  margin: 20px;
}